<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="43399NLMLHNCBCCEB.TriagePic" Publisher="CN=39A47D4F-3C3F-4466-B992-4884C00F3449" Version="3.7.0.1" />
  <Properties>
    <DisplayName>TriagePic</DisplayName>
    <PublisherDisplayName>NLM LHNCBC CEB</PublisherDisplayName>
    <Logo>Assets\StoreCameraLogo(50x50).png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TP8.App">
      <Extensions>
        <Extension Category="windows.search" />
      </Extensions>
      <m2:VisualElements DisplayName="TriagePic" Description="TriagePic for Win8 Store, Modern UI.  National Library of Medicine.  Glenn Pearson, software developer" BackgroundColor="#C17819" ForegroundText="light" Square150x150Logo="Assets\SquareCameraLogo(150x150).png" Square30x30Logo="Assets\SmallCameraLogo(30x30).png">
        <m2:DefaultTile ShortName="TriagePic" Wide310x150Logo="Assets\WideTriagePicLogo(310x150).png" Square310x310Logo="Assets\BigSquareTriagePicLogo(310x310).png">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Assets\SplashCameraLogo(620x300).png" />
        <m2:ApplicationView MinWidth="width320" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="picturesLibrary" />
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>